
h1{
    font-family: fantasy;
    color: violet;
    text-align: center;
    font-size: 40px;
}
.page{
    background-image:url ("https://pp.vk.me/c631116/v631116809/22d/pBgC2DGhGsw.jpg");
    background-size: cover;
}
