.page {
        padding:250px;
        background-image: url(https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg);
        background-size: cover;
}
h1{
    font-family: fantasy;
}
