.page {
        padding:250px;
        background-image: url(https://vk.com/photo-94925279_371280575);
        background-size: cover;
}
h1{
    font-family: fantasy;
    color: violet;
    text-align: center;
    font-size: 40px;
}
body{
}
